ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

/* ___________________________________________ */
.wrapper {
  min-height: 100%;
  margin: 25px;
}


.container {
  max-width: 1250px;
  margin: 0 auto;
}

.cv__person {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, auto));
  column-gap: 10px;

}

.vertical-line-gold,
.vertical-line-blue {
  position: relative;
}

.vertical-line-gold:before,
.vertical-line-blue:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 12px;
  height: 100%;
  border-radius: 20px;
}

.vertical-line-gold:before {
  background-color: #bf965c;
}

.vertical-line-blue:before {
  background-color: #2b343d;
}

.person__description {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
}

.person__credential {
  display: flex;
}

@media (max-width: 879px) {
  .person__description {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    padding: 10px;
  }

  .person__contact {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .person__contact::before {
    content: '';
    width: 22px;
    height: 22px;
    background-color: #bf965c;
    border: 8px solid #fff;
    border-radius: 50%;
    position: relative;
    top: -6%;
    right: -99%;
  }

  .person__contact::after {
    display: none;
  }
}

@media (max-width: 470px) {
  .person__credential {
    flex-direction: column;
  }
}

.person__image {
  max-width: 200px;
  border-radius: 20px;

}

.person__name {
  font-size: 28px;
  line-height: 160%;
}

.person__job {
  font-size: 18px;
  color: #bf965c;
}

.person__text {
  font-size: 16px;
  text-align: justify;
  line-height: 150%;
  font-weight: 600;
}

.person__contact {
  background-color: #2b343d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  row-gap: 15px;
}

.person__contact:after {
  content: '';
  width: 22px;
  height: 22px;
  background-color: #bf965c;
  border: 8px solid #fff;
  border-radius: 50%;
  position: relative;
  bottom: -6%;
  left: -8.5%;
  ;
}

img {
  padding: 10px;
}


.main__block-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}


.contact__link {
  color: #fff;
  line-height: 140%;
}

.contact__image {
  width: 50px;
  height: 50px;
  border: 2px solid #bf965c;
  border-radius: 50%;
}

.section__image {
  width: 50px;
  height: 50px;
  border: 2px solid #2b343d;
  border-radius: 50%;
}



.title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2b343d;
}


.education__blocks .education__block {
  margin: 20px 0;
}

.education__blocks .education__block:last-child {
  margin-bottom: 0;
}

.margin-container {
  margin: 30px 0;
}

.education__degree {
  font-size: 18px;
  font-weight: 600;

}

.education__facility {
  font-size: 18px;
}

.education__years {
  color: #bf965c;
  font-style: italic;
}

.techSkills__block {
  margin: 14px 0;
}


.techSkills__block-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}


.techSkills__block-item {
  color: #fff;
  border-radius: 10px;
  background-color: #2b343d;
  padding: 10px;
  display: inline-block;
}

.softSkills__blocks {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, auto));
  column-gap: 20px;
  row-gap: 20px;
}

.softSkills__block {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  background-color: #bf965c;
  border-radius: 10px;
}


.languages__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  column-gap: 100px;
  row-gap: 20px;
  margin-top: 10px;
}


.language {
  display: flex;
  justify-content: space-between;
}

.link-info {
  position: absolute;
  display: inline-block;
  right: 0;
}

.section__image-info {
  cursor: pointer;
}

.titles__image-info {
  transition: transform .3s ease-in-out;
}

.section__image-info:hover .titles__image-info {
  transform: scale(1.5);
}

.language__title {
  font-size: 20px;
  font-weight: 600;
}

.language__rating {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.rating-gold {
  width: 22px;
  height: 22px;
  background-color: #bf965c;
  border-radius: 3px;
}

.rating-grey {
  width: 22px;
  height: 22px;
  background-color: #d2d2d2;
  border-radius: 3px;
}

.section__image-noBorder {
  width: 50px;
  height: 50px;
}

.interest {
  display: flex;
  align-items: center;
}

.interests__blocks {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  column-gap: 150px;
  row-gap: 20px;
}

.certification__html {
  background-color: #bf965c;
}

.certifications__header-block {
  text-align: center;
  margin-top: 20px;
  
}



.wrapper_certification {
  background-color: #2b343d;
  border-radius: 20px;
  height: 85vh;
}

.certifications__container {
  height: inherit;
}

.certification__body {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}

.certification__body-item {
  height: 60vh;
}

.certification__body-photo {
  height: inherit;
  border-radius: 20px;
}